
.markit-sidebar,
.markit-sidebar.view,
.markit-sidebar .cell,
.markit-sidebar *{
    background-color: @theme_fg_color;
    color: @theme_bg_color;
    text-shadow: 0 1px alpha (black, 0.25);
    box-shadow: none;
}

.markit-sidebar .cell:selected,
.markit-sidebar .cell:selected:focus,
.markit-sidebar .cell:backdrop:selected:focus {
    background-color: inherit;
    background-image: none;
    border: none;
    box-shadow: inset 4px 0 alpha (@theme_bg_color, 0.75);
}

.markit-document-view.cell:selected,
.markit-document-view.cell:selected:focus {
    background-color: inherit;
    background-image: none;
    border: none;
    box-shadow: none;
}

.markit-sidebar .dim-label {
    color: alpha (@theme_bg_color, 0.5);
    text-shadow: none;
}
